body {
  margin: 0;
}

.home {
  background-color: rgb(29, 125, 180);
  min-height: 100vh;
}

.home-container {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: 0 auto;
}

.home-container h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}
